body {
    margin: 0;
}

body.disabled {
    overflow: hidden;
}

body.disabled .overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 100;
    background: #dedede;
    opacity: .2;
}

#main,
#add-film {
    max-width: 1236px;
    margin: 0 auto;
    font-family: sans-serif;
    padding-top: 110px;
}

.header {
    top: 0;
    background: #fff;
    max-width: 1236px;
    position: fixed;
    width: 100%;
    padding: 40px 0 0;
}

h1 {
    text-align: center;
    margin: 0;
}

img {
    width: 10%;
    max-height: 10%;
}

.buttons {
    display: inline-block;
    white-space: nowrap;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: 0;
}

.btn {
    font-size: 16px;
    padding: 8px 20px;
    background: orange;
    color: white;
    display: inline-block;
    border-radius: 8px;
    cursor: pointer;
    min-width: 50px;
    text-align: center;
    font-weight: bold;
}

.create-btn {
    display: block;
    max-width: 150px;
    text-align: center;
    margin-bottom: 1em;
    margin-right: 30px;
    border: none;
}

.create-btn-router {
    float: right;
}

.film-list {
    list-style: none;
    padding: 0;
    clear: both;
}

.film-list p {
    display: inline-block;
    margin: 0 20px;
    width: 10%;
}

li {
  display: flex;
  flex-direction: column;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, .04);
    box-shadow: 0 0 40px rgba(0, 0, 0, .05);
    margin: 20px auto;
}

.films-item__content {
  display: flex;
  align-items: center;
  width: 100%;
}

p.films-item__title {
    width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.films-item__comment {
    line-height: 1.5;
  font-size: .9rem;
    margin-top: 30px;
    padding: 20px;
    border: 1px solid rgba(128, 128, 128, 0.48);
    border-radius: 10px;
    display: none;
}

.active .films-item__comment {
    max-height: 500px;
    display: block;
}

.films-item__rating {
  width: 90px;
  min-width: 90px;
  background: 0 -3px url(./images/stars.png);
  height: 1rem;
  background-size: cover;
}

.films-item__rating-4 {
  background: 0 -22px url("./images/stars.png");
  background-size: cover;

}

.films-item__rating-3 {
  background: 0 -40px url("./images/stars.png");
  background-size: cover;
}

.films-item__rating-2 {
  background: 0 -60px url("./images/stars.png");
  background-size: cover;
}

.films-item__rating-1 {
  background: 0 -80px url("./images/stars.png");
  background-size: cover;
}

input, textarea {
    display: block;
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    box-sizing: border-box;
    margin: 20px 0;
    border-radius: 8px;
    border: 1px solid lightgrey;
    outline: none;
}

::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.48);
}

::-moz-placeholder {
    color: rgba(0, 0, 0, 0.48);
}

:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.48);
}

::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

@media all and (max-width: 700px){
  .films-item__content {
    flex-direction: column;
  }

  img {
    width: 100%;
    margin-bottom: 1rem;
  }

  .film-list p {
    width: 100%;
    text-align: center;
    line-height: 1.2;
  }

  p.films-item__rating {
    width: 10%;
  }

  .buttons {
    margin: 1rem auto;
  }
}