<div class="films-item__content"><img src='images/a-beautiful-mind.jpg'>
    <p class='films-item__title'>{{= it.title || ''}}</p>
    <p class='films-item__imdbId'>{{= it.imdbId || ''}}</p>
    <p class='films-item__releaseCountry'>{{=it.releaseCountry || ''}}</p>
    <p class='films-item__releaseYear'>{{=it.releaseYear || ''}}</p>
    <p class='films-item__rating films-item__rating-{{=it.rating || ""}}'></p>
</div>
<div class="buttons">
    <div class="btn edit-btn">Edit</div>
    <div class="btn delete-btn">Delete</div>
</div>
<div class='films-item__comment'>{{=it.comment || ''}}</div>